In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("crime_data_with_grid_centers.csv")
df

,IDCol,Report Number,Report Date,Day Occurred,Day Number,Occur Date,Occur Time,Possible Date,Possible Time,Beat,...,y,index_right,County_ID,STATE,COUNTY,County_Name,LSAD,CENSUSAREA,grid_center_longitude,grid_center_latitude
0,320197,203581105,12/23/20 0:00,Wednesday,4,12/23/20,10:00,12/23/20,16:45,410,...,3988955.700,414,0500000US13121,13,121,Fulton,County,526.635,-84.463977,33.699603
1,320198,203581144,12/23/20 0:00,Wednesday,4,12/23/20,17:16,12/23/20,17:30,505,...,3998598.283,414,0500000US13121,13,121,Fulton,County,526.635,-84.395224,33.772242
2,320199,203581174,12/23/20 0:00,Saturday,7,12/19/20,21:50,12/19/20,22:30,211,...,4004643.485,414,0500000US13121,13,121,Fulton,County,526.635,-84.360847,33.815826
3,320200,203581238,12/23/20 0:00,Wednesday,4,12/23/20,18:05,12/23/20,18:09,206,...,4007061.360,414,0500000US13121,13,121,Fulton,County,526.635,-84.378035,33.844882
4,320201,203581247,12/23/20 0:00,Wednesday,4,12/23/20,18:12,NaN,NaN,204,...,4002545.092,414,0500000US13121,13,121,Fulton,County,526.635,-84.412412,33.801298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366819,352210,90040607,1/4/09 0:00,Saturday,7,1/3/09,20:00,1/4/09,10:00,303,...,3992546.091,414,0500000US13121,13,121,Fulton,County,526.635,-84.412412,33.728658
366820,352156,90040842,1/4/09 0:00,Saturday,7,1/3/09,15:00,1/4/09,11:00,306,...,3989061.142,414,0500000US13121,13,121,Fulton,County,526.635,-84.378035,33.699603
366821,352157,90040893,1/4/09 0:00,Sunday,1,1/4/09,14:10,1/4/09,14:15,408,...,3984448.287,414,0500000US13121,13,121,Fulton,County,526.635,-84.498353,33.670547
366822,352159,90040901,1/4/09 0:00,Sunday,1,12/28/08,6:00,12/31/08,19:00,108,...,4002112.385,414,0500000US13121,13,121,Fulton,County,526.635,-84.481165,33.801298
366823,352166,90041013,1/4/09 0:00,Saturday,7,1/3/09,2:45,1/3/09,6:00,508,...,3995318.478,414,0500000US13121,13,121,Fulton,County,526.635,-84.395224,33.743186

In [66]:
len(df)

366824

In [5]:
#Count number of distinct Crimes
df.columns
distinct_crime_types = df["Crime Type"].nunique()
print("Distinct Crime Types:", distinct_crime_types)

Distinct Crime Types: 7

In [6]:
crime_type_names = df["Crime Type"].unique()
print("Names of Distinct Crime Types:")
for crime in crime_type_names:
    print(crime)

Names of Distinct Crime Types:
BURGLARY
LARCENY-FROM VEHICLE
AUTO THEFT
LARCENY-NON VEHICLE
AGG ASSAULT
HOMICIDE
ROBBERY

In [67]:
(df['Occur Date'][85])
pd.to_datetime(df['Occur Date'][85])

Timestamp('2020-12-22 00:00:00')

In [68]:
# df['Occur Date'] = pd.to_datetime(df['Occur Date'], format='%m/%d/%Y')
df['Occur Date'] = pd.to_datetime(df['Occur Date'], errors='coerce')

In [69]:
df = df.dropna(subset=['Occur Date'])

In [70]:
df['Year'] = df['Occur Date'].dt.year.astype(int)

/var/folders/h8/bg0mybp576vd322yxr49vszr0000gn/T/ipykernel_30421/3923855561.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Occur Date'].dt.year.astype(int)

In [71]:
df

,IDCol,Report Number,Report Date,Day Occurred,Day Number,Occur Date,Occur Time,Possible Date,Possible Time,Beat,...,index_right,County_ID,STATE,COUNTY,County_Name,LSAD,CENSUSAREA,grid_center_longitude,grid_center_latitude,Year
0,320197,203581105,12/23/2020 12:00:00 AM,Wednesday,4,2020-12-23,10:00,12/23/2020,16:45,410,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.463977,33.699603,2020
1,320198,203581144,12/23/2020 12:00:00 AM,Wednesday,4,2020-12-23,17:16,12/23/2020,17:30,505,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.395224,33.772242,2020
2,320199,203581174,12/23/2020 12:00:00 AM,Saturday,7,2020-12-19,21:50,12/19/2020,22:30,211,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.360847,33.815826,2020
3,320200,203581238,12/23/2020 12:00:00 AM,Wednesday,4,2020-12-23,18:05,12/23/2020,18:09,206,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.378035,33.844882,2020
4,320201,203581247,12/23/2020 12:00:00 AM,Wednesday,4,2020-12-23,18:12,NaN,NaN,204,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.412412,33.801298,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366819,352210,90040607,1/4/2009 12:00:00 AM,Saturday,7,2009-01-03,20:00,1/4/2009,10:00,303,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.412412,33.728658,2009
366820,352156,90040842,1/4/2009 12:00:00 AM,Saturday,7,2009-01-03,15:00,1/4/2009,11:00,306,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.378035,33.699603,2009
366821,352157,90040893,1/4/2009 12:00:00 AM,Sunday,1,2009-01-04,14:10,1/4/2009,14:15,408,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.498353,33.670547,2009
366822,352159,90040901,1/4/2009 12:00:00 AM,Sunday,1,2008-12-28,6:00,12/31/2008,19:00,108,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.481165,33.801298,2008
366823,352166,90041013,1/4/2009 12:00:00 AM,Saturday,7,2009-01-03,2:45,1/3/2009,6:00,508,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.395224,33.743186,2009

In [72]:
len(df)

366816

In [73]:
df['Year'] = df['Occur Date'].dt.year.astype(int)

/var/folders/h8/bg0mybp576vd322yxr49vszr0000gn/T/ipykernel_30421/2533791419.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Occur Date'].dt.year.astype(int)

In [74]:
df

,IDCol,Report Number,Report Date,Day Occurred,Day Number,Occur Date,Occur Time,Possible Date,Possible Time,Beat,...,index_right,County_ID,STATE,COUNTY,County_Name,LSAD,CENSUSAREA,grid_center_longitude,grid_center_latitude,Year
0,320197,203581105,12/23/2020 12:00:00 AM,Wednesday,4,2020-12-23,10:00,12/23/2020,16:45,410,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.463977,33.699603,2020
1,320198,203581144,12/23/2020 12:00:00 AM,Wednesday,4,2020-12-23,17:16,12/23/2020,17:30,505,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.395224,33.772242,2020
2,320199,203581174,12/23/2020 12:00:00 AM,Saturday,7,2020-12-19,21:50,12/19/2020,22:30,211,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.360847,33.815826,2020
3,320200,203581238,12/23/2020 12:00:00 AM,Wednesday,4,2020-12-23,18:05,12/23/2020,18:09,206,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.378035,33.844882,2020
4,320201,203581247,12/23/2020 12:00:00 AM,Wednesday,4,2020-12-23,18:12,NaN,NaN,204,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.412412,33.801298,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366819,352210,90040607,1/4/2009 12:00:00 AM,Saturday,7,2009-01-03,20:00,1/4/2009,10:00,303,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.412412,33.728658,2009
366820,352156,90040842,1/4/2009 12:00:00 AM,Saturday,7,2009-01-03,15:00,1/4/2009,11:00,306,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.378035,33.699603,2009
366821,352157,90040893,1/4/2009 12:00:00 AM,Sunday,1,2009-01-04,14:10,1/4/2009,14:15,408,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.498353,33.670547,2009
366822,352159,90040901,1/4/2009 12:00:00 AM,Sunday,1,2008-12-28,6:00,12/31/2008,19:00,108,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.481165,33.801298,2008
366823,352166,90041013,1/4/2009 12:00:00 AM,Saturday,7,2009-01-03,2:45,1/3/2009,6:00,508,...,414,0500000US13121,13,121,Fulton,County,526.635,-84.395224,33.743186,2009

In [75]:
output_path = "output_data.csv"
df.to_csv(output_path, index=False)

print(f"DataFrame successfully written to {output_path}")

DataFrame successfully written to output_data.csv